.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
  background: #fafafa;
}

.login-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
